/* Container holding the image and the text */
.container {
  position: relative;
  float: left;
  text-align: center;
  color: black;
  width: 10%
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.h1